@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* poppins-regular - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: optional;
        src: url('../fonts/poppins-v20-latin-regular.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/poppins-v20-latin-regular.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
        /* Legacy iOS */
    }

    /* poppins-500 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: optional;
        src: url('../fonts/poppins-v20-latin-500.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/poppins-v20-latin-500.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/poppins-v20-latin-500.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg');
        /* Legacy iOS */
    }

    /* poppins-600 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: optional;
        src: url('../fonts/poppins-v20-latin-600.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/poppins-v20-latin-600.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/poppins-v20-latin-600.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg');
        /* Legacy iOS */
    }

    /* poppins-700 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: optional;
        src: url('../fonts/poppins-v20-latin-700.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/poppins-v20-latin-700.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/poppins-v20-latin-700.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
        /* Legacy iOS */
    }

    /* poppins-800 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: optional;
        src: url('../fonts/poppins-v20-latin-800.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/poppins-v20-latin-800.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/poppins-v20-latin-800.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/poppins-v20-latin-800.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/poppins-v20-latin-800.svg#Poppins') format('svg');
        /* Legacy iOS */
    }

    /* poppins-900 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-display: optional;
        src: url('../fonts/poppins-v20-latin-900.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/poppins-v20-latin-900.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/poppins-v20-latin-900.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/poppins-v20-latin-900.svg#Poppins') format('svg');
        /* Legacy iOS */
    }
}

.navBarButton {
    @apply font-medium text-slate-800 dark:text-slate-300 dark:hover:bg-slate-900/40 hover:bg-slate-200 py-2 px-2 sm:px-4 rounded-lg
}

.sectionName {
    @apply mb-3 font-bold text-3xl sm:text-4xl text-slate-900 dark:text-slate-300
}

.sectionDescription {
    @apply mb-5 text-lg sm:text-xl w-full xl:w-3/6 lg:w-4/5 text-slate-700 dark:text-slate-400
}

.greenPill {
    @apply rounded-full font-medium bg-emerald-200 dark:bg-emerald-900 dark:text-emerald-200 text-emerald-900 px-4 border-2 dark:border-emerald-900 border-emerald-200 dark:hover:border-emerald-700 hover:border-emerald-300
}

.yellowPill {
    @apply rounded-full font-medium bg-yellow-200 dark:bg-yellow-900 dark:text-yellow-200 text-yellow-900 px-3 border-2 dark:border-yellow-900 border-yellow-200 dark:hover:border-yellow-700 hover:border-yellow-300
}