---
import Layout from "../layouts/Layout.astro";
import EntryCard from "../components/EntryCard";
import Blogposts from "../components/Blogposts";
import { Image } from "@astrojs/image/components";

const data = await fetch("https://api.npoint.io/0d0efd88c2ed01397ae8");
const news = await data.json();
---

<Layout title="Hytale Tracker 2.0">
	<main class="m-auto max-w-[90%] md:max-w-[80%]">
		<div class="my-10 border-slate-300 border-t-2 w-[80%] mx-auto"></div>

		<div
			class="w-fit m-auto mb-5 font-black text-4xl sm:text-6xl text-slate-900"
		>
			Hytale Tracker
		</div>
		<p
			class="mb-5 text-lg m-auto sm:text-xl w-full xl:w-3/6 lg:w-4/5 text-slate-700"
		>
			Welcome to Hytale Tracker! Here you'll be able to track everything
			about the game's latest news, blogposts, job openings, and more!
		</p>

		<div
			class="w-fit flex flex-wrap m-auto mb-10 gap-2 justify-center md:gap-5"
		>
			<a
				href="#news"
				class="rounded-full font-medium bg-cyan-200 text-cyan-900 px-4 border-2 border-cyan-200 hover:border-cyan-300"
				>News</a
			>
			<a
				href="#blogposts"
				class="rounded-full font-medium bg-emerald-200 text-emerald-900 px-4 border-2 border-emerald-200 hover:border-emerald-300"
				>Blogposts</a
			>
			<a
				href="#jobs"
				class="rounded-full font-medium bg-pink-200 text-pink-900 px-4 border-2 border-pink-200 hover:border-pink-300"
				>Job Openings</a
			>
		</div>

		<div class="my-10 border-slate-300 border-t-2 w-[80%] mx-auto"></div>

		<div
			class="mb-3 font-bold text-3xl sm:text-4xl text-slate-800"
			id="news"
		>
			Latest News
		</div>
		<p
			class="mb-10 text-lg sm:text-xl w-full xl:w-3/6 lg:w-4/5 text-slate-700"
		>
			Here you'll find the latest news related to the game or Hypixel
			Studios, not necessarily official, but always trust-worthy!
		</p>

		<div
			class="max-w-full overflow-x-scroll overflow-y-hidden scrollbar-thumb-slate-400 hover:scrollbar-thumb-slate-500 scrollbar-track-rounded-md scrollbar-thumb-rounded-md scrollbar-track-slate-300 scrollbar-thin"
		>
			<div class="inline-flex pb-8">
				{
					news.news.map((entry: any) => (
						<EntryCard entry={entry}>
							<Image
								src={entry.picture}
								width={480}
								aspectRatio={16 / 9}
								class="w-full rounded-2xl rounded-b-none"
								alt={"Cover for a news entry."}
								slot="entry-image"
							/>
						</EntryCard>
					))
				}
			</div>
		</div>

		<div class="my-10 border-slate-300 border-t-2 w-[80%] mx-auto"></div>

		<div
			class="mb-3 font-bold text-3xl sm:text-4xl text-slate-800"
			id="blogposts"
		>
			Latest Blogposts
		</div>
		<p
			class="mb-5 text-lg sm:text-xl w-full xl:w-3/6 lg:w-4/5 text-slate-700"
		>
			Here you'll find the latest official articles and blogposts released
			by the Hytale team at Hypixel Studios. These are released once or
			twice per year currently.
		</p>

		<Blogposts client:idle />

		<div class="my-10 border-slate-300 border-t-2 w-[80%] mx-auto"></div>

		<div
			class="mb-3 font-bold text-3xl sm:text-4xl text-slate-800"
			id="jobs"
		>
			Latest Job openings
		</div>
		<p
			class="mb-10 text-lg sm:text-xl w-full xl:w-3/6 lg:w-4/5 text-slate-700"
		>
			See which recent jobs have been changed or added by Hypixel Studios!
		</p>
	</main>
</Layout>
